body{width: 100%; overflow-x: hidden;}

.wrap{padding: 50px 0;}
.inner{width: calc(100% - 120px); height: 100%; margin: 0 auto;}

/* S : 헤더 */

.header{position: relative; width: 100%; height: 80px; background: #0F1314; border-bottom: 1px solid #eee; box-sizing: border-box;}
.inner--header{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 40px);}

.logo{display: block; width: 60px; height: 60px; background: url(/src/img/common/wdttLogo.png) center/contain no-repeat;}

.headerBtns{display: flex; align-items: center; gap: 20px;}
.loginBtn{color: #fff; font-size: 1.125rem; cursor: pointer;}
.loginBtn:hover{color: #fff;}

.menuBtn{display: flex; position: relative; flex-direction: column; gap: 4px; width: 24px; height: 14px; cursor: pointer;}
.menuBtn span{width: 100%; height: 2px; background-color: #fff; transition: .2s;}
.menuBtn.open span{position: relative; width: calc(100% + 1px);}
.menuBtn.open span:nth-child(1){transform: rotateZ(45deg) translate(4.5px, 4.5px);}
.menuBtn.open span:nth-child(2){opacity: 0;}
.menuBtn.open span:nth-child(3){transform: rotateZ(-45deg) translate(4.5px, -4.5px);}

.navWrap{position: absolute; top: calc(100%); left: 100%; z-index: 9999; width: 100%; height: calc(100vh - 80px); background: #0F1314; transition: left .2s; border-top: 1px solid #fff;}
.navWrap.open{left: 0; transition-duration: .4s;}
.menuList{padding: 0;}
.menuList__li__link{display: flex; align-items: flex-start; width: 100%; min-height: 44px; padding: 12px 20px; box-sizing: border-box; font-size: 16px; text-align: left; color: #fff; border-bottom: 1px solid #eee;}
.menuList__li__link:hover{color: #fff;}

/* E : 헤더 */


/* S : 로그인 */

.loginForm{width: 60%; margin: 0 auto;}
.loginDesc{margin: 20px 0; color: red;}

/* E : 로그인 */

.tbl{width: 100%; border: 1px solid #000; box-sizing: border-box;}
.tbl th{padding: 10px 0; font-weight: bold; background-color: #eee; border-right: 1px solid #000; text-align: center;}
.tbl th:last-child{border-right: none;}
.tbl tr{border-bottom: 1px solid #000;}
.tbl td{padding: 10px 10px; border-right: 1px solid #000; text-align: center; box-sizing: border-box;}
.tbl td input, .tbl td select{width: 100%; padding: 0 10px; text-align: center; border: 1px solid #000; border-radius: 5px; box-sizing: border-box;}
.tbl td:last-child{border-right: none;}

/* S : Entry */

.entryWrap{display: flex; flex-wrap: wrap; gap: 20px; width: 100%;}
.entryMaker{overflow: hidden; width: calc(50% - 10px); border-radius: 10px; border: 1px solid #0F1314;}
.entryMaker__teamName{display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 10px 20px; background: #0F1314;}
.count{color: #fff;}
.entryMaker__cont{padding: 20px;}
.entryMaker__playersList{display: flex; flex-wrap: wrap; gap: 10px; padding: 20px; border: 1px solid #0F1314; border-radius: 10px;}
.entryMaker__members{margin-top: 20px; padding: 20px; border: 1px solid #0F1314; border-radius: 10px;}
.entryMaker__membersList{overflow-y: auto; display: flex; gap: 10px; flex-wrap: wrap;  max-height: 200px}
.playerBadge{display: inline-block; padding: 5px 15px 7px; background: #0F1314; border-radius: 15px; color: #fff; cursor: pointer;}
.entryMaker__btns{display: flex; justify-content: center; align-items: center; gap: 20px; margin-top: 20px;}
.entryMaker__btns button{width: 30%;}
.delBadgeBtn{display: inline-block; position: relative; top: 2px; width: 16px; height: 16px; margin-left: 8px; border: 1px solid #fff; color: #fff; border-radius: 100%;}
.delBadgeBtn::before{content: ""; position: absolute; top: 0%; left: 50%; width: 1px; height: 100%; background: #fff; transform: rotateZ(-45deg);}
.delBadgeBtn::after{content: ""; position: absolute; top: 0%; left: 50%; width: 1px; height: 100%; background: #fff; transform: rotateZ(45deg);}

/* E : Entry */

@media screen and (max-width: 768px) {
    .wrap{padding: 30px 0;}
    .inner{width: calc(100% - 40px);}
    .header{height: 60px;}
    .logo{width: 50px; height: 50px;}
}
